/*/**************************************
			Base Styles
**************************************/


/**************************************
			Layout Styles
**************************************/
.menu{
	display:flex;
}

/**************************************
			Module Styles
**************************************/
.menu .button{
	margin: auto;
	margin-right: 10px;
}

/**************************************
			State Styles
**************************************/