/**************************************
			Layout Styles
**************************************/

.menu ul {
	display: flex;
	justify-content: center;
	padding: 0;
	list-style-type: none;
}

/**************************************
			Module Styles
**************************************/

/* Menu from Qi Miao */
.menu {
	width: 100%;
	position: sticky;
	top: 0;
}

.menu li {
	margin-left: 5px;
	margin-right: 5px;
}

.menu a {
	border: 2px dotted #ffffff;
	text-decoration: none;
	display: block;
	color: #D9CFC0;
	background-color: #214B71;
	font-size: 20px;
	text-align: center;
	padding: 5px 15px;
	position: fixed;
	right: 0;
	border-top: 0;
}

.menu a:hover {
	background-color: indigo;
	border: 2px solid;
	border-top: 0;
}

/**************************************
			State Styles
**************************************/

.menu li a.is-current {
	color: #214B71;
	background-color: #D9CFC0;
}

@media (max-width: 600px){
	.menu {
		position: initial;
		height: initial;
	}

	.menu ul {
		display: block;
		margin: 0;
	}
}