@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html{
	overflow-x: hidden;
    overflow-y: hidden;
	height: 100%;
}

.button.is-link {
	background-color: #FECB89;
	color: #222831;
	-webkit-box-shadow: 1px 1px 1px 1px #222831;
	box-shadow: 1px 1px 1px 1px #222831;
}

.button.is-link:hover{
	background-color: #C1A57B;
	color: #ECECEC;
}

.button.is-link.is-light {
	background-color: #ECECEC;
	color: #222831;
	-webkit-box-shadow: 1px 1px 1px 1px #222831;
	box-shadow: 1px 1px 1px 1px #222831;
}

.button.is-link.is-light:hover {
	background-color: #222831;
	color: #ECECEC;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;
}

h1 {
	font-size: 35px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
	text-shadow: 1px 1px 1px #ECECEC;
	color: #FECB89;
}

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 25px;
	margin: 0 auto;
	color: #ECECEC;
	height: 100%;
	background-image: url("../images/background.png");
	background-repeat:repeat;
}

.formpage strong {
		color: #ECECEC;
}
