@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html{
	background: rgb(0,0,0);
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(21,163,255,1) 100%);
	height: 100$;
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	color: #ECECEC;
	background-image: url("../images/background.png");
	background-repeat:repeat;
	background-attachment: fixed;
}

h1 {
	font-size: 50px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
	color: #30475E;
}

h1, h2{
	margin: 0 auto;
}

h3 {
	font-size: 1.25em;
}

h1, h2, h3 {
 	font-family: "Montserrat", sans-serif;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	text-decoration: none;
}


p, div {
	font-family: "Roboto", sans-serif;
	line-height: 1.75em;
}

img {
	border-radius: 5px;
	height: 100%;
	width: fit-content;
	display: block;
}

article {
    padding: 20px 20px 20px 20px;
}

ol {
    margin: 0 auto;
}

.direct h2 {
    font-style: normal;
    margin: 1vh auto;
    background-color: #C1A57B;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ECECEC;
}

a{
	color:#D9C5B2;
}

a:hover p{
	color: #D9C5B2;
}

i{
	margin-left: 3px;
}

.formpage h1{
	margin-bottom: 30px;
}

/**************************************
		Layout Styles
**************************************/
.container {
	margin: 0 auto;
	width: 100%;
}

article {
	padding: 25px 25px 25px 25px;
}

.background a {
		margin: auto;
}

form {
	margin: 1vh 1vw;
	display: flex;
	flex-direction: column;
	font-size: initial;
}

header .container, footer .container {
	display: flex;
	justify-content: space-between;
}

.dir-student {
	display: flex;
	background-color: #30475E;
	border-radius: 15px;
	justify-content: space-between;
	padding: 20px 20px 20px 20px;
	color: #ECECEC;
}

.big-message {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

p {
	max-width: 600px;
	justify-content: left;
}

.boxer{
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.form-container{
	width: 62.5%;
	background-color: #30475E;
	margin:auto;
	height: 100%;
	padding-top: 10%;
	padding-left: 30px;
	padding-right:  30px;
}

.formpage{
	height: 100%;
}

/**************************************
		Module Styles
**************************************/

.button.is-link {
	background-color: #FECB89;
	color: #222831;
	-webkit-box-shadow: 1px 1px 1px 1px #222831;
	box-shadow: 1px 1px 1px 1px #222831;
}

.button.is-link:hover{
	background-color: #C1A57B;
	color: #ECECEC;
}

.button.is-link.is-light {
	background-color: #ECECEC;
	color: #222831;
	-webkit-box-shadow: 1px 1px 1px 1px #222831;
	box-shadow: 1px 1px 1px 1px #222831;
}

.button.is-link.is-light:hover {
	background-color: #222831;
	color: #ECECEC;
}

.formpage strong {
		color: #ECECEC;
}
.z-pattern {
	font-size: 2em;
	overflow-x: hidden;
    overflow-y: hidden;
}

.boxer{
	font-size: 30px;
}

.band {
	background-color: #30475E;
	color: #FECB89;
	width:100%;
	margin: 0;
	opacity: 95%;
}

.silver{
	background-color: #D9C5B2;
	padding: 6px;
}

.white-back{
	background: rgba(255, 255, 255, 0.65);
}

.blieg{
	color:#D9C5B2;
}

.deleter{
	background-color: #EE6C4D;
}

.dir-student a.deleter:hover, .menu a.deleter:hover {
	background-color: #EA481F;
}

a.adder{
	background-color:#30475E;
	color: white;
	border-radius: 7px;
	margin-top: 20px;
}

a.adder:hover{
	color:silver;
}
.menu a:hover{
	background-color: silver;
}

.field .is-grouped{
	justify-content: space-between;
	margin-top: 30px;
}

table, th, td {
    border:none
}


table {
    width: 80%;
    display: table;
    border-collapse: collapse;
    border-spacing:0
}

table.striped tr {
    border-bottom:none
}

table.striped > tbody > tr:nth-child(odd) {
    background-color:rgba(242, 242, 242, 0.5)
}

table.striped > tbody > tr > td {
    border-radius:0
}

table.highlight > tbody > tr {
    -webkit-transition: background-color .25s ease;
    transition:background-color .25s ease
}

table.highlight > tbody > tr:hover {
    background-color:rgba(242, 242, 242, 0.5)
}

table.center{
	margin-left:auto; 
    margin-right:auto;
}

table.centered thead tr th, table.centered tbody tr td {
    text-align:center;
 
}

tr {
    border-bottom:1px solid rgba(0, 0, 0, 0.12)
}

th {
  background-color: #303e5e;
  color: white;
}

tr:nth-child(even) {
	background-color: #f7ecc1;
}


header.persistent {
	top: 0;
}

footer.persistent {
	bottom: 0;
	background-color: unset;
	font-size: initial;
	margin-left: unset;
}

footer.persistent a {
	color: #ECECEC;
	text-decoration: none;
	font-size: 25px;
}

a {
	text-decoration: none;
	border: 1.5px dotted white;
	padding: 4px;
	background-color: #C1A57B;
}

a:hover {
	background-color: #222831;
}

#homepagelink {
	border: none;
	background-color: #30475E;
	padding-top:25px;
	padding-bottom: 20px;
}

#homepagelink:hover {
	background-color: #30475E;
	color: #30475E;
}

.dir-student div {
	justify-self: center;
	max-width: 60%;
}

.dir-student h3 {
	border-bottom: 1px solid #ECECEC;
	padding: 15px 15px 15px 15px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.dir-student a {
	border: 1px solid currentcolor;
	border-radius: 7px;
	padding: 20px;
	align-self: flex-start;
	text-align: center;
	line-height: initial;
	text-decoration: none;
	justify-self: flex-end;
	margin-left: 20px;
}

.buttonslight, .buttonslink {
	background-color: #222831;
}

.dir-student a:hover {
	background-color: #ECECEC;
	color: #222831;
}

.dir-footer {
	padding: 10px 10px 10px 10px;
	justify-content: space-between;
}

.z-pattern .primary,
.z-pattern .strong,
.z-pattern .weak,
.z-pattern .terminal {
	margin: 3vh 5vw;
}

.persistent {
	position: fixed;
	left: 0;
	width: 100%;
}

.intro-container {
	width: 400px;
}

.intro-selfie {
	float: right;
	margin-right: 0;

}

.space-below {
	margin-bottom: 2vh;
}

.space-img{
	margin-top: 45px;
}

.first-heading {
    margin-top: 0;
}

#submit {
	align-self: flex-end;
}

#space-img-kim{
	margin-top: 25px;
}

.primary div {
		text-decoration: none;
		font-family: "Montserrat", sans-serif;
}

.big-message {
	color: #30475E;
}
