.container {
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;
}

body {
	padding-top: 25px;
	height: 100%;
}

html{
	height: 100%;
}

.button.is-link {
	background-color: #30475E;
	color: #222831;
	-webkit-box-shadow: 1px 1px 1px 1px #222831;
	box-shadow: 1px 1px 1px 1px #222831;
}

.button.is-link.is-light {
	background-color: ivory;
	color: #222831;
	-webkit-box-shadow: 1px 1px 1px 1px #222831;
	box-shadow: 1px 1px 1px 1px #222831;
}
