/**************************************
		Base Styles
**************************************/
html {
	background: rgb(0,0,0);
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(21,163,255,1) 100%);
	height: 100$;
}

body {
	margin: 0 auto;
	color: #30475E;
}

h1, h2{
	margin: 0 auto;
}

h3 {
	font-size: 1.25em;
}

h1, h2, h3 {
 	font-family: "Montserrat", sans-serif;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	text-decoration: none;
}


p, div {
	font-family: "Roboto", sans-serif;
	line-height: 1.75em;
	border-radius: 5px;
}

img {
	border-radius: 5px;
	height: 100%;
	width: fit-content;
	display: block;
}

article {
    padding: 20px 20px 20px 20px;
}

ol {
    margin: 0 auto;
}

.direct h2 {
    font-style: normal;
    margin: 1vh auto;
    background-color: #C1A57B;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ECECEC;
}

/**************************************
		Layout Styles
**************************************/

article {
	padding: 25px 25px 25px 25px;
}

.background a {
		margin: auto;
}

footer {
	padding-left: 25px;
}

form {
	margin: 1vh 1vw;
	display: flex;
	flex-direction: column;
	font-size: initial;
}

header .container, footer .container {
	display: flex;
	justify-content: space-between;
}

header div{
	margin: 10px 0px 0px 25px;
}

.container {
	margin: 0 auto;
	width: 95%;
	max-width: 1000px;
}

.dir-student {
	display: flex;
	background-color: #30475E;
	border-radius: 5px;
	justify-content: space-between;
	padding: 20px 20px 20px 20px;
	color: #ECECEC;
}

.big-message {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

p {
	max-width: 600px;
	justify-content: left;
}

/**************************************
		Module Styles
**************************************/

.container {
	background-color: #FECB89;
}

.z-pattern {
	font-size: 2em;
}

.z-pattern .container {
	background-color: #30475E;
	color: #FECB89;
}


table, th, td {
    border:none
}


table {
    width: 80%;
    display: table;
    border-collapse: collapse;
    border-spacing:0
}

table.striped tr {
    border-bottom:none
}

table.striped > tbody > tr:nth-child(odd) {
    background-color:rgba(242, 242, 242, 0.5)
}

table.striped > tbody > tr > td {
    border-radius:0
}

table.highlight > tbody > tr {
    -webkit-transition: background-color .25s ease;
    transition:background-color .25s ease
}

table.highlight > tbody > tr:hover {
    background-color:rgba(242, 242, 242, 0.5)
}

table.center{
	margin-left:auto; 
    margin-right:auto;
}

table.centered thead tr th, table.centered tbody tr td {
    text-align:center;
 
}

tr {
    border-bottom:1px solid rgba(0, 0, 0, 0.12)
}

th {
  background-color: #303e5e;
  color: white;
}

tr:nth-child(even) {
	background-color: #f7ecc1;
}


header.persistent {
	top: 0;
}

footer.persistent {
	bottom: 0;
	background-color: unset;
	font-size: initial;
	margin-left: unset;
}

footer.persistent a {
	color: #ECECEC;
	text-decoration: none;
	font-size: 25px;
}

a {
	text-decoration: none;
	border: 1.5px dotted white;
	padding: 4px;
	background-color: #C1A57B;
}

a:hover {
	background-color: #222831;
}

#homepagelink {
	border: none;
	background-color: #FECB89;
}

#homepagelink:hover {
	background-color: #FECB89;
	color: #30475E;
}

.dir-student div {
	justify-self: center;
	max-width: 60%;
}

.dir-student h3 {
	border-top: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
	padding: 15px 15px 15px 15px;
	margin: 0 auto;
}

.dir-student a {
	border: 1px solid currentcolor;
	border-radius: 7px;
	padding: 20px;
	align-self: flex-start;
	text-align: center;
	line-height: initial;
	text-decoration: none;
	color: currentcolor;
	justify-self: flex-end;
}

.dir-student a:hover {
	background-color: #ECECEC;
	color: #222831;
}

.dir-footer {
	padding: 10px 10px 10px 10px;
	justify-content: space-between;
}

.z-pattern .primary,
.z-pattern .strong,
.z-pattern .weak,
.z-pattern .terminal {
	margin: 5vh 5vw;
}

.persistent {
	position: fixed;
	left: 0;
	width: 100%;
}

.intro-container {
	width: 400px;
}

.intro-selfie {
	float: right;
	margin-right: 0;

}

.space-below {
	margin-bottom: 2vh;
}

.space-img{
	margin-top: 45px;
}

.first-heading {
    margin-top: 0;
}

#submit {
	align-self: flex-end;
}

#space-img-kim{
	margin-top: 25px;
}

.primary div {
		text-decoration: none;
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
}

.big-message {
	color: #FECB89;
}

.studentquote {
	margin: auto;
	width: 20%;
	border: 1px solid #ECECEC;
	padding: 10px;
	margin-right: 25px;
}

/* Mobile Design */

@media(max-width: 930px)
{
	article {
		display: block;
	}
	
	footer.persistent a {
		font-size: 15px;
	}
	
	.weak {
		font-size: 10px;
	}
}


@media(max-width: 760px)
{
	 .top
  {
	  display: block;
  }
}

@media(max-width: 620px)
{
  
	h2, h3, h4 {
		margin: 15px 0px 15px 0px; 
	}
	
	.background article {
	  display: block;
	}
	
	form {
		max-width: 200px;
	}
	
	.dir-student {
		display: block;
	}

}



