.z-pattern .primary, .z-pattern .strong, .z-pattern .weak, .z-pattern .terminal {
    margin: 5vh 5vw;
}

.container {
	margin: 0 auto;
	width: 95%;
	max-width: 1000px;
}

.persistent {
	position: fixed;
	left: 0;
	width: 100%;
}

header.persistent {
    top: 0;
}

footer.persistent {
	bottom: 0;
}

header .container, footer .container, .l-fpattern {
    display: flex;
    justify-content: space-between;
}

h1 {
	margin: 0 auto;
}

form {
	margin: 1vh 1vw;
	/* border: 10px solid black; */
	display: flex;
	flex-direction: column;
}

#submit {
	align-self: flex-end;
}


/* .container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 40px;

	margin: 0 auto;
	width: 85%;
	max-width: 1000px;
} */

.background article {
	grid-column: 1/4;

	font-size: 1.3em;

}

/*useless for project2*/
.background aside {
	grid-column: 3/4;
	color: silver;
	font-family: 'Montserrat', sans-serif;
	/* instructions from css-tricks.com */
	transform: rotate(-3deg);
}

header {
	/* background from wallpapercave.com */
	/* background-image: url(../images/bubbles.jpg);  */
	/* background-repeat: no-repeat;
	background-size: 100%;
	
	text-align: center;
	color: #D9CFC0;

	padding-bottom: 20%;
	padding-top: 10%;

	position: fixed;
	width: 100%;

	z-index: 2; */
}

h2 {
	font-style: italic;
	clear: both;
}


footer {
	/* margin-top: 30px;

	grid-column: 1 / 4;
	text-align: center;

	font-style: italic;
	color: silver;
	font-size: 15px; */
}

body {
	margin: 0;
}

.intro-container{
	width: 400px;
}
.intro-selfie{
	float: right;
	position: relative;

	right: 270px;
	top: -40px;
}

.dir-student{
	display: flex;
}

.dir-student div, .dir-student a{
	margin-left: 50px;
}

.dir-student h3{
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.dir-student a{
	border: 1px solid black;
	border-radius: 7px;
	padding: 20px;
	align-self: center;
	text-align: center;
}

.dir-student div div{
	margin-left: 0;
}

/*.dir-student div div:first-of-type{
	margin-bottom: 15px;
}*/

.space-below{
	padding-bottom: 100px;
}

/*
The following lines are for the example footer in directory.php

EDIT OR DELETE WHEN READY
*/

.dir-footer{
	text-align: center;
	margin-top: 20px;
	padding-bottom: 10px;
}

.dir-footer div{
	font-size: x-large;
}