/**************************************
		Base Styles
**************************************/
html {
	background-color: navy;
}

body {
	margin: 0 auto;
	color: khaki;
	background-color: navy;
}

h1 {
	margin: 0 auto;
}

h2 {
	/* font-style: italic; */
	/* clear: both; */
	margin: 0 auto;
}

h3 {
	font-size: 1.25em;
}

h1,
h2,
h3 {
 	font-family: "Montserrat", sans-serif;
	margin-bottom: 0;
	border-bottom: 1px solid khaki;
}

p,
div {
	font-family: "Roboto", sans-serif;
	line-height: 1.75em;
	border-radius: 5px;
}

img {
	border-radius: 5px;
	height: 100%;
	width: fit-content;
	display: block;
}

footer {
	margin-left: 1vw;
}

article {
    padding: 1vh 1vw;
}

p {
    margin: 0 auto;
}

ol {
    margin: 0 auto;
}

header h2 {
    font-style: normal;
    margin: 1vh auto;
    background-color: black;
    padding: 1vh 1vw;
    border: 1px solid;
}

/**************************************
		Layout Styles
**************************************/

form {
	margin: 1vh 1vw;
	display: flex;
	flex-direction: column;
	font-size: initial;
}

header .container,
footer .container {
	display: flex;
	justify-content: space-between;
}

.container {
	margin: 0 auto;
	width: 95%;
	max-width: 1000px;
}

.dir-student {
	display: flex;
	background-color: black;
	border-radius: 5px;
	justify-content: space-between;
	padding: 1vw 1vh;
}

.big-message {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to bottom right, navy, blue);

}

header {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

/**************************************
		Module Styles
**************************************/

.container {
	background-color: blue;
}

.z-pattern {
	font-size: 2em;
}

.z-pattern .container {
	background-color: unset;
	background-image: linear-gradient(to right, rgb(0 0 128 / .1), rgb(0 0 255 /.01));
}

header.persistent {
	top: 0;
	/* background-image: linear-gradient(to right bottom, rgb(0 0 128 / .25), rgb(0 0 255 /.25)); */
}

footer.persistent {
	bottom: 0;
	background-color: unset;
	font-size: initial;
	margin-left: unset;
}

footer.persistent a {
	color: khaki;
	text-decoration: none;
	font-size: 2em;
}

footer.persistent a:hover {
	color: khaki;
    text-decoration: underline;
    font-size: 2em;

}

.dir-student div {
	justify-self: center;
	max-width: 60%;
}

.dir-student h3 {
	border-top: 1px solid khaki;
	border-bottom: 1px solid khaki;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0 auto;
}

.dir-student a {
	border: 1px solid currentcolor;
	border-radius: 7px;
	padding: 20px;
	align-self: flex-start;
	text-align: center;
	line-height: initial;
	text-decoration: none;
	color: currentcolor;
	justify-self: flex-end;
}

.dir-student a:hover {
	background-color: khaki;
	color: black;
}

.dir-footer {
	padding: 1vw 1vh;
	justify-content: space-between;
}

.z-pattern .primary,
.z-pattern .strong,
.z-pattern .weak,
.z-pattern .terminal {
	margin: 5vh 5vw;
}

.persistent {
	position: fixed;
	left: 0;
	width: 100%;
}

.intro-container {
	width: 400px;
}

.intro-selfie {
	float: right;
	margin-right: 0;

}

.space-below {
	margin-bottom: 2vh;
}

.first-heading {
    margin-top: 0;
}

#submit {
	align-self: flex-end;
}
