/**************************************
		Base Styles
**************************************/
html {
	background-color: #30475E;
	height: 100%;
}

body {
	margin: 0 auto;
	color: #30475E;
	background: rgb(0,0,0);
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(21,163,255,1) 100%);
	height: 100%;
}

h1 {
	margin: 0 auto;
}

h2 {
	/* font-style: italic; */
	/* clear: both; */
	margin: 0 auto;
}

h3 {
	font-size: 1.25em;
}

h1,
h2,
h3 {
 	font-family: "Montserrat", sans-serif;
	margin-bottom: 10px;
	border-bottom: 1px solid #ECECEC;
}

p,
div {
	font-family: "Roboto", sans-serif;
	line-height: 1.75em;
	border-radius: 5px;
}

img {
	border-radius: 5px;
	height: 100%;
	width: fit-content;
	display: block;
}

footer {
	margin-left: 1vw;
}

article {
    padding: 15px 15px 15px 15px;
}

ol {
    margin: 0 auto;
}

.direct h2 {
    font-style: normal;
    margin: 1vh auto;
    background-color: #C1A57B;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ECECEC;
}

/**************************************
		Layout Styles
**************************************/

article {
	padding: 25px 25px 25px 25px;
}

form {
	margin: 1vh 1vw;
	display: flex;
	flex-direction: column;
	font-size: initial;
}

header .container,
footer .container {
	display: flex;
	justify-content: space-between;
}

header div{
	margin: 10px 0px 0px 25px;
}

.container {
	margin: 0 auto;
	width: 95%;
	max-width: 1000px;
}

.dir-student {
	display: flex;
	background-color: #30475E;
	border-radius: 5px;
	justify-content: space-between;
	padding: 20px 20px 20px 20px;
	color: #ECECEC;
}

.big-message {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

p {
	max-width: 600px;
	justify-content: left;
}

/**************************************
		Module Styles
**************************************/

.container {
	background-color: #FECB89;
}

.z-pattern {
	font-size: 2em;
}

.z-pattern .container {
	background-color: #30475E;
	color: #FECB89;
}

header.persistent {
	top: 0;
}

footer.persistent {
	bottom: 0;
	background-color: unset;
	font-size: initial;
	margin-left: unset;
}

footer.persistent a {
	color: gainsboro;
	text-decoration: none;
	font-size: 2em;
}

footer.persistent a:hover {
	color: gainsboro;
    text-decoration: underline;
    font-size: 2em;

}

.dir-student div {
	justify-self: center;
	max-width: 60%;
}

.dir-student h3 {
	border-top: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	padding: 15px 15px 15px 15px;
	margin: 0 auto;
}

.dir-student a {
	border: 1px solid currentcolor;
	border-radius: 7px;
	padding: 20px;
	align-self: flex-start;
	text-align: center;
	line-height: initial;
	text-decoration: none;
	color: currentcolor;
	justify-self: flex-end;
}

.dir-student a:hover {
	background-color: gainsboro;
	color: #222831;
}

.dir-footer {
	padding: 10px 10px 10px 10px;
	justify-content: space-between;
}

.z-pattern .primary,
.z-pattern .strong,
.z-pattern .weak,
.z-pattern .terminal {
	margin: 5vh 5vw;
}

.persistent {
	position: fixed;
	left: 0;
	width: 100%;
}

.intro-container {
	width: 400px;
}

.intro-selfie {
	float: right;
	margin-right: 0;

}

.space-below {
	margin-bottom: 2vh;
}

.space-img{
	margin-top: 45px;
}

.first-heading {
    margin-top: 0;
}

#submit {
	align-self: flex-end;
}

#space-img-kim{
	margin-top: 25px;
}

.primary div {
		text-decoration: none;
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
}

/* Mobile Design */
   

@media(max-width: 930px)
{
	article {
		display: block;
	}
   n
}

@media(max-width: 960px)
{
 


}

@media(max-width: 760px)
{
  
	.big-message h1 {
		font-size: 25px; 
	}
	
	 .top
  {
	  display: block;
  }
}

@media(max-width: 600px)
{
	.z-pattern p, .z-pattern h2{
		display: none;
	}
	
	form {
		max-width: 200px;
	}
	
/* 	.loginbuttons {
		max-width: 100px;
	} */
		
	h2, h3, h4 {
		margin-bottom: 15px;
		margin-top: 15px;
	}

}




