html {
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
    background-color: #f7f4df; 
}

h1 {
	text-align: center;
	background-color:#ffe3a1;
	width:100%;
	color:#44999c;
    font-size: 4.2rem;
    line-height: 110%;
    margin:2.8rem 0 1.68rem 0
}

table, th, td {
    border:none
}

table {
    width: 80%;
    display: table;
    border-collapse: collapse;
    border-spacing:0
}

table.striped tr {
    border-bottom:none
}

table.striped > tbody > tr:nth-child(odd) {
    background-color:rgba(242, 242, 242, 0.5)
}

table.striped > tbody > tr > td {
    border-radius:0
}

table.highlight > tbody > tr {
    -webkit-transition: background-color .25s ease;
    transition:background-color .25s ease
}

table.highlight > tbody > tr:hover {
    background-color:rgba(242, 242, 242, 0.5)
}

table.center{
	margin-left:auto; 
    margin-right:auto;
}

table.centered thead tr th, table.centered tbody tr td {
    text-align:center;
 
}

tr {
    border-bottom:1px solid rgba(0, 0, 0, 0.12)
}

th {
  background-color: #9cedff;
  color: black;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}


a.add{
    
    -webkit-text-decoration-skip:objects;
display: inline-block;
text-align: center; 
margin-left: 50%; 
margin-right: 50%; 
overflow: visible;

  border-radius: 25px;
  background-color: #ffebcc;
  color:#44999c;
  padding: 20px; 
  height: 85px; 
  box-shadow: 5px 10px #dec597;
}



div.input_contain{
width:40%;
display: inline-block;
text-align: left; 
margin-left: 30%; 
margin-right: 30%; 
}

div.input_cancel{
display: inline-block;
text-align: center; 
margin-left: 50%; 
margin-right: 50%; 
}

button, input {
    overflow:visible;
 
}

button, select {
    text-transform: none
}

button, html [type="button"], [type="reset"], [type="submit"]{
    -webkit-text-decoration-skip:objects;
display: inline-block;
text-align: center; 
margin-left: 50%; 
margin-right: 50%; 
overflow: visible;

  border-radius: 25px;
  background-color: #ffebcc;
  color:#44999c;
  padding: 20px; 
  height: 85px; 
  box-shadow: 5px 10px #dec597;
}





